#page-top{
    height: 100%;
}
#wrapper {
    display: flex;
}
#nav{
    background-color: #622a63 !important;
}
.sidebar {
    width: 90px !important;
    min-height: calc(100vh - 56px);
}
.sidebar {
    width: 225px !important;
}
.sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 225px;
    margin-top: 10px
}
.navbar-dark .navbar-brand {
    color: #fff;
}
ul.sidebar.navbar-nav {
    background-color: #7c458a
}
span{
    color:white
}
i{
    color: white;
}
.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
#con{
        overflow-x: hidden;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 80px;
    
}
#row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 8rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
#a{
    opacity: 0.4;
    font-size: 5rem;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}