.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    border: none;
    outline: none;
    padding: 7px 16px;
    background-color: none;
    font-family: unset;
    margin: 0;
}

.subnav i {
    color: #007BFF;
}

.subnavbtn {
    background-color: #fff;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 50%;
    background-color: cadetblue;
    width: 20%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

option:hover {
    display: block;
    background-color: lavender;
}